.box {
  background-color: rgb(255, 255, 255, 0.15);
  width: 170px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  height: 200px;
  color: whitesmoke;
}
.next {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (max-width: 940px) {
  .box {
    border-radius: 0px;
  }
  .box:nth-child(even) {
    border-left: 1px solid rgb(255, 255, 255, 0.3);
    border-right: 1px solid rgb(255, 255, 255, 0.3);
  }
}
@media (max-width: 500px) {
  .box {
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100px;
  }
  .next {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .box:nth-child(even) {
    border: none;
    border-top: 1px solid rgb(255, 255, 255, 0.3);
    border-bottom: 1px solid rgb(255, 255, 255, 0.3);
  }
}
